#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: url(../src/images/wallpaper.jpg); */
  background-color: #aab0bd;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #adbee7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(150, 112, 112);
}
#logo {
  margin: 29%;
  margin-top: 2%;
  margin-bottom: 3%;

}
.navbar{
  padding: 0.2rem 3rem;
}
#navlogo{
  width: 70px;
}

img {
  justify-content: center;
}
 
.welcome form {
  justify-content:center;
  text-align: center;
}
#welcome_msg {
 text-align: center;
}

/* Apply styles
=============== */
.FlexTable {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background-color: rgba(128, 86, 86, 0.4);

}
.FlexTable .FlexTable-row {
  width: 100%;
  display: -webkit-box;
  display: flex;
}
.FlexTable .FlexTable-row .FlexTable-cell {
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 0.8em 1.2em;
  overflow: hidden;
}
.FlexTable .FlexTable-row .FlexTable-cell.column-heading {
  background-color: #1a1715;
  color: white;
  padding: 1em;
}
.FlexTable .FlexTable-row .FlexTable-cell .FlexTable-cell--heading {
  display: none;
}

/* userSignUp
=============== */
#signUpForm{
  margin-top: 100px;
}
/*Login/Register warning popup*/
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(109, 101, 101, 0.5);  
}  

.popup-inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 50%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 10px;  
  background:rgba(123, 46, 143, 0.425);  
  font-style: italic;
  text-align: center;  
}
.popup-inner h1{
  color:rgb(136, 37, 37);
  font-weight: 1000;
}
.popup-inner h6{
  color:white;
}


/* ===================LOADING SPINNER */
.loading_spinner-wrap {
  width: 100%;
  padding: 50px 0;
  justify-content: center;
}

.loading_spinner {
  display: block;
  margin: 0 auto;
  fill: rgb(124, 3, 3);
}
  circle {
    animation-name: upAndDown;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.05, 0.2, 0.35, 1);
    animation-iteration-count: infinite;

    /* &:nth-child(2) {
      animation-delay: 0.18s;
    }

    &:nth-child(3) {
      animation-delay: 0.36s;
    } */
  }


@keyframes upAndDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
.createLabelandAssingContiner {
  color:#0a0909 ;
  position: fixed;
  padding: 0!important;
  border:#dc3545;
  display:'d-flex'
}
.label-asign {
  color:#d12d2d ;
  position: right;
  right: 100%; 
  padding: 10!important;
  border:#dc3545;
  display:'d-flex p-2'
}
